name: Node.js Package

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'npm publish --tag $'     
        required: true
        default: 'beta'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '!build')"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish --tag ${{ github.event.inputs.tag }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
